version: 2.1

orbs:
  node: circleci/node@4.7.0

jobs:
  run_unit_tests:
    working_directory: build-tools
    docker:
      - image: cimg/node:18.12.0
    steps:
      - checkout:
          path: build-tools
      - restore_cache:
          name: Restoring Modules Cache
          keys:
            - v1-modules-cache-{{ checksum "package-lock.json" }}
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: |
            npm run test
          name: Unit Tests
  notify_slack:
    docker:
      - image: cimg/node:18.12.0
    steps:
      - run:
          command: |
            curl -X POST -H 'Content-type: application/json' --data '{"text":"New Build Tools Release","blocks":[{"type":"header","text":{"type":"plain_text","text":"New Build Tools Release"}},{"type":"section","fields":[{"type":"mrkdwn","text":"*Version:* <https://github.com/'${CIRCLE_PROJECT_USERNAME}'/'${CIRCLE_PROJECT_REPONAME}'/releases/tag/'${CIRCLE_TAG}'|'${CIRCLE_TAG}'>"},{"type":"mrkdwn","text":"<https://github.com/'${CIRCLE_PROJECT_USERNAME}'/'${CIRCLE_PROJECT_REPONAME}'/issues|Issues> *|* <https://github.com/'${CIRCLE_PROJECT_USERNAME}'/'${CIRCLE_PROJECT_REPONAME}'/pulls|Pull Requests>"}]}]}' ${SLACK_WEBHOOK}
          name: Send Slack update to channel
  install_tests:
    docker:
      - image: cimg/node:18.12.0
    steps:
      - checkout
      - restore_cache:
          name: Restoring Modules Cache
          keys:
            - v1-modules-cache-{{ checksum "package-lock.json" }}
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: |
            cd ./example-site/
            node ./../src/cli.js install
          name: Run test - install projects
      - run:
          command: |
            cd ./example-site/
            node ./../src/cli.js install -- --package-lock-only
          name: Run test - install projects with npm args
      - run:
          command: |
            cd ./example-site/
            node ./../src/cli.js ci
          name: Run test - ci install projects
      - save_cache:
          name: Saving Modules Cache
          key: v1-modules-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
            - /home/circleci/.cache
      - persist_to_workspace:
          root: ~/project
          paths:
            - .
  self_test:
    docker:
      - image: cimg/node:18.12.0
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - restore_cache:
          name: Restoring Modules Cache
          keys:
            - v1-modules-cache-{{ checksum "package-lock.json" }}
      - run:
          command: |
            cd ./example-site/
            node ./../src/cli.js ci
          name: Run test - ci install projects
      - run:
          command: |
            cd ./example-site/
            node ./../src/cli.js ci
          name: Run test - ci install projects
      - run:
          command: |
            cd ./example-site/
            node ./../src/cli.js build test-plugin,test-theme --once
          name: Run test - build projects
      - run:
          command: |
            cd ./example-site/
            node ./../src/cli.js build --site --once
          name: Run test - build site
      - run:
          command: |
            cd ./example-site/plugins/test-plugin/
            node ./../../../src/cli.js build --once
          name: Run test - build single
      - persist_to_workspace:
          root: ~/project
          paths:
            - .
workflows:
  test_install:
    jobs:
      - install_tests
  test_build:
    jobs:
      - self_test
  unit_tests:
    jobs:
      - run_unit_tests
  run_notify_slack:
    jobs:
      - notify_slack:
          filters:
            tags:
              only: /v?[0-9]+\.[0-9]+\.[0-9]+(-(rc|beta|alpha).[0-9]+)?/
            branches:
              ignore: /.*/
